*{
  margin: 0;
  padding: 0;
}
header{
width: 85%;
margin: 20px auto;
display: flex;
justify-content: space-around;
}
#main{
width: 85%;
margin: 0 auto;
display: flex;
justify-content:space-around;
}
button {
z-index: 1;
position: relative;
font-size: inherit;
font-family: inherit;
color: black;
padding: 0.5em 1em;
outline: none;
border-radius: 10%;
background-color: #3cefff;
overflow: hidden;
transition: color 0.4s ease-in-out;
}

button::before {
content: '';
z-index: -1;
position: absolute;
top: 50%;
left: 50%;
width: 1em;
height: 1em;
border-radius: 10%;
background-color: rgb(76, 180, 231);
transform-origin: center;
transform: translate(-50%, -50%) scale(0);
transition: transform 0.45s ease-in-out;
}

button:hover {
cursor: pointer;
color: #161616;
}

button:hover::before {
transform: translate(-50%, -50%) scale(15);
}