*{
  margin: 0;
  padding: 0;
}
body{

}
header{
width: 85%;
margin: 20px auto;
display: flex;
justify-content: space-around;
}
#main{
width: 85%;
margin: 0 auto;
display: flex;
justify-content:space-around;
}
canvas{
  border-radius: 5px;
}
button {
z-index: 1;
position: relative;
font-size: inherit;
font-family: inherit;
color: black;
padding: 0.5em 1em;
outline: none;
border-radius: 10%;
background-color: #3cefff;
overflow: hidden;
transition: color 0.4s ease-in-out;
}

button::before {
content: '';
z-index: -1;
position: absolute;
top: 50%;
left: 50%;
width: 1em;
height: 1em;
border-radius: 10%;
background-color: rgb(76, 180, 231);
transform-origin: center;
transform: translate(-50%, -50%) scale(0);
transition: transform 0.45s ease-in-out;
}

button:hover {
cursor: pointer;
color: #161616;
}

button:hover::before {
transform: translate(-50%, -50%) scale(15);
}

input[type=range]{
margin-top: 18px;
outline: none;
-webkit-appearance: none;/*清除系统默认样式*/
background: -webkit-linear-gradient(#3cefff, #3cefff) no-repeat, #ddd;
background-size: 50% 100%;/*设置左右宽度比例*/
height: 3px;/*横条的高度*/
}
/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;/*清除系统默认样式*/
height:16px;/*拖动块高度*/
width: 16px;/*拖动块宽度*/
background: #fff;/*拖动块背景*/
border-radius: 50%; /*外观设置为圆形*/
border: solid 1px #ddd; /*设置边框*/
}
